#config Files
archey3.cfg
aurman/
baloofilerc
cef_user_data/
configstore/
conky/
dconf/
dolphin-emu/
dolphinrc
Flavio Tordini/
galculator/
gconf/
gpick/
gtk-2.0/
gtk-3.0/
htop/
keepassx/
KeePass/
KeeWeb/
key-mon/
menus/
mimeapps.list
.mono/
mpd/
neofetch/
obs-studio/
pulse/
QDirStat/
QtProject.conf
R/
ranger/
RStudio/
skypeforlinux/
Slack/
spotify/
Symless/
telegram
Tom Thielicke IT Solutions/
#Trolltech/
#Trolltech.conf
users-dirs.dirs
users-dirs.locale
variety/
VirtualBox/
vlc/
xbuild/
xfce4/

#home Directory
.adobe/
Music/
.npm/       
.nv/
.archey3.cfg     
nvidia-bug-report.log.gz
#.archinstall     
.nvidia-settings-rc
.bash_history    
PBA
.bashrc          
Pictures/
bluetooth.info   
.pki/
boottime.svg     
.psensor/
.cache/           
Public/
.cert/            
R/
RainerPlusListe
.conkyrc         
.RData
.conkyrccustom
.recently-used
cower/          
.Rhistory
D                 
.rnd
.dartServer/      
.rstudio-desktop/
.designer/        
#.screenlayout/
Desktop/           
.screenrc
.dmrc             
#.scripts/
Documents/         
.steam/
Downloads/         
.steampath
.electrum/        
.steampid
.esd_auth         
TBA
.factorio/         
Templates/
.fehbg            
tex_output/
#.fonts/            
.thumbnails/
.fzf/              
.thunderbird/
.fzf.bash         
TIPP10/
.gimp-2.8/         
Videos/
#.git              
#.vim
.gitconfig        
#.viminfo
#.gitignore        
#.vimrc
.gnupg/           
VirtualBox VMs/
.gtkrc-2.0        
#.wallpaper/
wallpapers/
.hydrogen/         
.WebStorm2017.2/
.ICEauthority     
.WebStorm2017.3/
.icons/            
WebstormProjects/
.java/             
win32/
.kde4/             
.windows-serial
.latexmkrc        
.wine/
.lesshst          
.Xauthority
linegreeter.jpg   
#.xinitrc
.local/            
#.Xmodmap
.macromedia/       
#.Xresources
Mail/              
.xsession-errors
.mono/             
.xsession-errors.old
#.mozilla/          
.zshrc
.dbus
