@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#navigator-toolbox {
    /*position: relative;*/
    /*z-index: 1;*/
    height: 5px;
    margin-bottom: -5px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.1s;
    transition: .50s all;
    transition-delay: 2s; 
    opacity: 0;  
}

#navigator-toolbox:hover {
    height: 72px;
    transition-property: height;
    transition-duration: 0.1s;
    opacity: 1;
    margin-bottom: 0px;
    transition-delay: 0s;
}

